# 默认忽略的文件
/../../P5741 Equal opponents - the enhanced version /.idea/shelf/
/../../P5741 Equal opponents - the enhanced version /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../P5741 Equal opponents - the enhanced version /.idea/httpRequests/
# Datasource local storage ignored files
/../../P5741 Equal opponents - the enhanced version /.idea/dataSources/
/../../P5741 Equal opponents - the enhanced version /.idea/dataSources.local.xml
