# 默认忽略的文件
/../../P1598 Vertical bar chart /.idea/shelf/
/../../P1598 Vertical bar chart /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../P1598 Vertical bar chart /.idea/httpRequests/
# Datasource local storage ignored files
/../../P1598 Vertical bar chart /.idea/dataSources/
/../../P1598 Vertical bar chart /.idea/dataSources.local.xml
