# 默认忽略的文件
/../../niuke KY3 The number of divisors /.idea/shelf/
/../../niuke KY3 The number of divisors /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../niuke KY3 The number of divisors /.idea/httpRequests/
# Datasource local storage ignored files
/../../niuke KY3 The number of divisors /.idea/dataSources/
/../../niuke KY3 The number of divisors /.idea/dataSources.local.xml
