# 默认忽略的文件
/../../P5461 Pardon prisoners of war /.idea/shelf/
/../../P5461 Pardon prisoners of war /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../P5461 Pardon prisoners of war /.idea/httpRequests/
# Datasource local storage ignored files
/../../P5461 Pardon prisoners of war /.idea/dataSources/
/../../P5461 Pardon prisoners of war /.idea/dataSources.local.xml
