# 默认忽略的文件
/../../P5735 Distance function /.idea/shelf/
/../../P5735 Distance function /.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../P5735 Distance function /.idea/httpRequests/
# Datasource local storage ignored files
/../../P5735 Distance function /.idea/dataSources/
/../../P5735 Distance function /.idea/dataSources.local.xml
